/Docs
Exe/stdout.txt
Exe/stderr.txt
Exe/classes/Thumbs.db
Exe/L80.GEN
Exe/L80.I
Exe/L80.LIT
Exe/L80.MAP
Exe/L81.GEN
Exe/L81.I
Exe/L81.LIT
Exe/L81.MAP
Exe/L82.GEN
Exe/L82.I
Exe/L82.LIT
Exe/L82.MAP
Exe/L83.GEN
Exe/L83.I
Exe/L83.LIT
Exe/L83.MAP
Exe/MAPDESC/DES00007
Exe/MAPDESC/QUEST7.INI
Exe/S80.SRP
Exe/S81.SRP
Exe/S82.SRP
Exe/S83.SRP
